* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f7fa;
  height: 100vh;
  margin: auto;
}

header {
  background-color: gold;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 24px;
  color: #000;
  display: flex;
  align-items: center;
}

.logo > h1 {
  border-radius: 100%;
  border: 5px solid;
  padding: 10px;
}

.logo > p {
  font-weight: bold;
  text-transform: uppercase;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.menu > li {
  list-style: none;
}

.menu > li > a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 600;
}

.menu > li > a:hover {
  color: #f00;
  text-decoration: underline;
}

#btn {
  display: flex;
  justify-content: center;
}

#dropdown {
  position: absolute;
  top: 70px;
  display: none;
  padding: 10px;
}

#dropdown > li {
  color: #000;
  list-style: none;
  transition: color 0.3s ease;
  font-weight: 600;
  padding: 10px;
  display: block;
}

#dropdown > li > a {
  color: #000;
  text-decoration: none;
  background-color: gold;
  padding: 20px;
}

#dropdown > li > a:hover {
  color: #f00;
  text-decoration: underline;
  cursor: pointer;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.search > input {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.search > button {
  color: #000;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: background-color 0.3s ease;
}

.search > button > i {
  font-size: 20px;
  font-weight: bolder;
}

.search > button:hover {
  background-color: gold;
}
